= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDMOPJqNEeELfg-Lt9yjIyCez3INjSvKq8&v=3'
=javascript_include_tag "maps/shop_edit"

%h2.text-center= t('views.shops.new')
%br

= render 'form'
