= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDMOPJqNEeELfg-Lt9yjIyCez3INjSvKq8&v=3'
= javascript_include_tag 'http://www.google.com/jsapi'
= javascript_include_tag 'maps/shop_show'
= javascript_include_tag 'chart_helper'

:javascript
  google.load("visualization", "1", {packages:["corechart"]});

= stylesheet_link_tag 'shops'

.well.well-sm
  .row
    .col-md-4.col-sm-12
      .panel.panel-default
        #map_canvas.map-container{:data => {:lat => @shop.latitude, :lng => @shop.longitude}}

    .col-md-4.col-sm-6
      .panel.panel-default
        = render 'info', :shop => @shop
      .btn-toolbar.text-center
        %a.btn.btn-default.btn-sm{:data => {:modal=> 'true', :source => shop_employees_path(@shop)}}= t('views.common.show_employees')
        %a.btn.btn-default.btn-sm{:data => {:modal=> 'true', :source => shop_shop_items_path(@shop)}}= t('views.common.show_items')
      %br
      .btn-toolbar.text-center
        - if policy(@shop).update?
          %a.btn.btn-default.btn-sm{:href => edit_shop_path(@shop)}= t('views.common.edit')
        - if policy(@shop).destroy?
          %a.btn.btn-default.btn-sm{:href => shop_path(@shop), :data => {:method => 'delete', :confirm => t('views.common.confirm')}}= t('views.common.delete')

    .col-md-4.col-sm-6
      .panel.panel-default
        = render 'shop_photos/slideshow', :shop => @shop

- if @reports.any?
  %h3.text-center= t('views.reports.list')
  .row
    .col-sm-6
      = render 'layouts/chart', :container_id => 'score-chart', :source => reports_score_chart_path, :extra_params => {:filter => {:shop => @shop.id}}


    .col-sm-6
      .panel.panel-default
  
        %div.chart-container{:style => 'overflow: auto;'}
          = render 'reports/list', :reports => @reports

      = paginate @reports
