= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDMOPJqNEeELfg-Lt9yjIyCez3INjSvKq8&v=3'
= javascript_include_tag 'libs/markerclusterer.js'
= javascript_include_tag 'maps/shops'

%h2.text-center= @city.name
%br

.panel.panel-default
  .panel-body
    .row
      .col-md-6
        %div#map_canvas.map-container-lg{:data => {:mapinfo => map_info_shops_path({:filter => {:city => @city}})}}
      .col-md-6
        .panel.panel-default
          = render 'shops/list', :shops => policy_scope(@city.shops), :max_height => 450
