= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDMOPJqNEeELfg-Lt9yjIyCez3INjSvKq8&v=3'
= javascript_include_tag 'maps/report_show'
= stylesheet_link_tag 'shops'

.row
  .col-lg-offset-1.col-lg-10
    .well.well-sm
      .row
        .col-sm-6
          .panel.panel-default
            = render 'shop_photos/slideshow', :shop => @report.shop

        .col-sm-6
          %h3.text-center= t('views.reports.shop_info')
          .panel.panel-default
            = render 'shops/info', :shop => @report.shop

.row
  .col-lg-offset-1.col-lg-10
    .row
      .col-sm-6
        %h3= "#{t('views.reports.report_score')}: #{@report.score}"
        %hr

        %address
          = "#{t('activerecord.models.reviewer')}: "
          %br
          = "#{t('activerecord.attributes.user.name')}: "
          %strong= @report.user.full_name
          %br
          = "#{t('activerecord.attributes.user.email')}: "
          = @report.user.email
          %br
          = mail_to @report.user.email, t('views.common.send_mail'), :subject => "Report for '#{@report.shop.name}' completed at #{@report.created_at.strftime("%d %b %Y %H:%M")}", :body => "Report: #{report_url(@report)}"
        %hr

        %address
          = "#{t('activerecord.attributes.report.created_at')}: "
          = @report.created_at.strftime("%d %b %Y %H:%M")
          %br
          = link_to t('views.common.save_as_pdf'), report_path(@report, :format => :pdf)

      .col-sm-6
        .panel.panel-default
          #map_canvas.map-container{:data => {:markers => [{:url => asset_url('shop11.png'),
          :lat => @report.shop.latitude, :lng => @report.shop.longitude, :tooltip => t('activerecord.models.shop')},
          {:url => asset_url('blank15.png'), :lat => @report.latitude, :lng => @report.longitude,
          :tooltip => t('activerecord.models.report')}].to_json}}

%hr

.row
  .col-lg-offset-1.col-lg-10
    - @report.structured.each do |category, elements|
      .panel.panel-default
        .panel-heading
          %h4= category.name

        .list-group
          - elements.each do |e|
            .list-group-item
              .row
                .col-xs-6
                  = e.name
                .col-xs-6.text-right
                  = e.value

    = render 'report_photos/galery', :photos => @report.photos
